@model IEnumerable<WebQuanLySinhVien.Models.Diemhp>

@{
    ViewData["Title"] = "Index";
}

<h1>Danh sách điểm</h1>

<p>
    <button class="btn btn-primary create-btn">Tạo mới</button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DiemHp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaHpNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaSvNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DiemHp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaHpNavigation.MaHp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaSvNavigation.MaSv)
            </td>
            <td>
                <button class="btn btn-primary edit-btn" data-id1="@item.MaSv" data-id2="@item.MaHp">Sửa</button>
                <button class="btn btn-primary"><a asp-action="Details" asp-route-id="@item.MaSv">Chi tiết</a></button>
                <button class="btn btn-danger delete-btn" data-id1="@item.MaSv" data-id2="@item.MaHp">Xóa</button>
        </td>
        </tr>
}
    </tbody>
</table>

<script>
    $(document).ready(function() {
        // Xử lý sửa
        $('.edit-btn').click(function() {
            var id1 = $(this).data('id1'); // Lấy giá trị của khóa ngoại thứ nhất
            var id2 = $(this).data('id2'); // Lấy giá trị của khóa ngoại thứ hai
            $.get(`/Diemhps/Edit?id1=${id1}&id2=${id2}`, function(data) {
                $('#modalBody').html(data);
                $('#actionModal .modal-title').text('Sửa thông tin');
                $('#actionModal').modal('show');
            });
        });

        // Xử lý nút Create
        $('.create-btn').click(function() {
            $.get('/Diemhps/Create', function(data) {
                $('#modalBody').html(data);
                $('#actionModal .modal-title').text('Thêm mới');
                $('#actionModal').modal('show');
            });
        });

        // Xử lý xóa
        $('.delete-btn').click(function() {
            var id1 = $(this).data('id1'); // Lấy giá trị của khóa ngoại thứ nhất
            var id2 = $(this).data('id2'); // Lấy giá trị của khóa ngoại thứ hai
            $.get(`/Diemhps/Delete?id1=${id1}&id2=${id2}`, function(data) {
                $('#modalBody').html(data);
                $('#actionModal .modal-title').text('Xác nhận xóa');
                $('#actionModal').modal('show');
            });
        });
    });
</script>