@model IEnumerable<WebQuanLySinhVien.Models.Khoa>

@{
    ViewData["Title"] = "Index";
}

<h1>Danh sách khoa</h1>

<p>
    <button class="btn btn-primary create-btn">Tạo mới</button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Tên khoa
            </th>
            <th>
                Hành động
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenKhoa)
            </td>
            <td>
                @* <button class="btn btn-primary"> <a asp-action="Edit" asp-route-id="@item.MaKhoa">Sửa</a></button> *@
                <button class="btn btn-primary edit-btn" data-id="@item.MaKhoa">Sửa</button>
                <button class="btn btn-primary"> <a asp-action="Details" asp-route-id="@item.MaKhoa">Chi tiết</a></button>
                @* <button class="btn btn-danger"> <a asp-action="Delete" asp-route-id="@item.MaKhoa">Xóa</a></button>    *@
                <button class="btn btn-danger delete-btn" data-id="@item.MaKhoa">Xóa</button>
            </td>
        </tr>
}
    </tbody>
</table>
<script>
    $(document).ready(function() {
        // Xử lý sửa
        $('.edit-btn').click(function() {
            var id = $(this).data('id');
            $.get(`/Khoas/Edit/${id}`, function(data) {
                $('#modalBody').html(data);
                $('#actionModal .modal-title').text('Sửa thông tin');
                $('#actionModal').modal('show');
            });
        });

        // Xử lý nút Create
        $('.create-btn').click(function() {
            $.get('/Khoas/Create', function(data) {
                $('#modalBody').html(data);
                $('#actionModal .modal-title').text('Thêm mới');
                $('#actionModal').modal('show');
            });
        });

        // Xử lý xóa
        $('.delete-btn').click(function() {
            var id = $(this).data('id');
            $.get(`/Khoas/Delete/${id}`, function(data) {
                $('#modalBody').html(data);
                $('#actionModal .modal-title').text('Xác nhận xóa');
                $('#actionModal').modal('show');
            });
        });
    });
</script>
