@model WebQuanLySinhVien.Models.Hocphan

@{
    ViewData["Title"] = "Delete";
}

<h1>Xóa</h1>

<h3>Bạn có chắc muốn xóa?</h3>
<div>
    <h4>Học phần</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenHp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenHp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoTc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoTc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HocKy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HocKy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaNganhNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaNganhNavigation.MaNganh)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="MaHp" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-action="Index">Trở về danh sách</a>
    </form>
</div>
