@model WebQuanLySinhVien.Models.Hocphan

@{
    ViewData["Title"] = "Details";
}

<h1>Chi tiết</h1>

<div>
    <h4>Hoạc phần</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenHp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenHp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoTc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoTc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HocKy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HocKy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaNganhNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaNganhNavigation.MaNganh)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaHp">Sửa</a> |
    <a asp-action="Index">Trở về danh sách</a>
</div>
