@model IEnumerable<WebQuanLySinhVien.Models.Hocphan>

@{
    ViewData["Title"] = "Index";
}

<h1>Bảng học phần</h1>

<p>
    <a asp-action="Create">Thêm mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenHp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoTc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HocKy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaNganhNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenHp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoTc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HocKy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaNganhNavigation.MaNganh)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaHp">Sửa</a> |
                <a asp-action="Details" asp-route-id="@item.MaHp">Chi tiết</a> |
                <a asp-action="Delete" asp-route-id="@item.MaHp">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
