@model IEnumerable<WebQuanLySinhVien.Models.Hocphan>

@{
    ViewData["Title"] = "Index";
}

<h1>Danh sách học phần</h1>

<p>
    <button class="btn btn-primary create-btn">Tạo mới</button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenHp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoTc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HocKy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaNganhNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenHp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoTc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HocKy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaNganhNavigation.MaNganh)
            </td>
            <td>
                    <button class="btn btn-primary edit-btn" data-id="@item.MaHp">Sửa</button>
                    <button class="btn btn-primary"><a asp-action="Details" asp-route-id="@item.MaHp">Chi tiết</a></button>
                    <button class="btn btn-danger delete-btn" data-id="@item.MaHp">Xóa</button>
            </td>
        </tr>
}
    </tbody>
</table>

<script>
    $(document).ready(function() {
        // Xử lý sửa
        $('.edit-btn').click(function() {
            var id = $(this).data('id');
            $.get(`/Hocphans/Edit/${id}`, function(data) {
                $('#modalBody').html(data);
                $('#actionModal .modal-title').text('Sửa thông tin');
                $('#actionModal').modal('show');
            });
        });

        // Xử lý nút Create
        $('.create-btn').click(function() {
            $.get('/Hocphans/Create', function(data) {
                $('#modalBody').html(data);
                $('#actionModal .modal-title').text('Thêm mới');
                $('#actionModal').modal('show');
            });
        });

        // Xử lý xóa
        $('.delete-btn').click(function() {
            var id = $(this).data('id');
            $.get(`/Hocphans/Delete/${id}`, function(data) {
                $('#modalBody').html(data);
                $('#actionModal .modal-title').text('Xác nhận xóa');
                $('#actionModal').modal('show');
            });
        });
    });
</script>