@model WebQuanLySinhVien.Models.SinhVien
@{
    Layout = null;
}
<h3>Bạn có chắc muốn xóa?</h3>
<div>
    <h4>Sinh viên</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.HoTen)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.HoTen)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.GioiTinh)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.GioiTinh)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.NgaySinh)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.NgaySinh)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Sdt)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Sdt)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.DiaChi)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.DiaChi)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.IdTkNavigation)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.IdTkNavigation.IdTk)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.MaLopNavigation)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.MaLopNavigation.MaLop)
        </dd>
    </dl>

    <form asp-action="Delete" id="deleteForm">
        <input type="hidden" asp-for="MaSv" />
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            <button type="submit" class="btn btn-danger">Xác nhận</button>
        </div>
    </form>
</div>
<script>
    $('#deleteForm').submit(function(e) {
        e.preventDefault();
        $.post($(this).attr('action'), $(this).serialize(), function(data) {
            if (data.success) {
                $('#actionModal').modal('hide');
                swal({
                    title: "Thành công!",
                    text: data.message,
                    icon: "success"
                }).then(() => {
                    location.reload(); // Reload sau khi đóng thông báo
                 });

            } else{
                swal({
                    title: "Lỗi!",
                    text: data.message,
                    icon: "error"
                })

            }
        });
    });
</script>