@model IEnumerable<WebQuanLySinhVien.Models.Diemhp>
@{
    ViewData["Title"] = "Danh sách học phần";
}
<h1>Danh sách học phần</h1>
<h4 class="card-title">@ViewData["hoten"]</h4>
<p class="card-category">Mã số sinh viên: @ViewData["masv"]</p>
<p>
    <button class="btn btn-primary create-btn" data-id="@ViewData["masv"]">thêm học phần</button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Học phần
            </th>
            <th>
                Điểm
            </th>
            <th>
                Hành động
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MaHpNavigation.TenHp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiemHp)
                </td>
                <td>
                    <button class="btn btn-primary edit-btn" data-id1="@item.MaSv" data-id2="@item.MaHp">Cập nhật điểm</button>
                    <button class="btn btn-danger delete-btn" data-id1="@item.MaSv" data-id2="@item.MaHp">Xóa</button>
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    $(document).ready(function() {
        // Xử lý sửa
        $('.edit-btn').click(function() {
            var id1 = $(this).data('id1'); // Lấy giá trị của khóa ngoại thứ nhất
            var id2 = $(this).data('id2'); // Lấy giá trị của khóa ngoại thứ hai
            $.get(`/Diemhps/Edit?id1=${id1}&id2=${id2}`, function(data) {
                $('#modalBody').html(data);
                $('#actionModal .modal-title').text('Sửa thông tin');
                $('#actionModal').modal('show');
            });
        });

        // Xử lý nút Create
        $('.create-btn').click(function() {
            var id = $(this).data('id');
            $.get(`/Diemhps/AddHp/${id}`, function(data) {
                $('#modalBody').html(data);
                $('#actionModal .modal-title').text('Thêm mới');
                $('#actionModal').modal('show');
            });
        });

        // Xử lý xóa
        $('.delete-btn').click(function() {
            var id1 = $(this).data('id1'); // Lấy giá trị của khóa ngoại thứ nhất
            var id2 = $(this).data('id2'); // Lấy giá trị của khóa ngoại thứ hai
            $.get(`/Diemhps/Delete?id1=${id1}&id2=${id2}`, function(data) {
                $('#modalBody').html(data);
                $('#actionModal .modal-title').text('Xác nhận xóa');
                $('#actionModal').modal('show');
            });
        });
    });
</script>