@model WebQuanLySinhVien.Models.GiangVien

@{
    ViewData["Title"] = "Details";
}

<h1>Chi tiết</h1>

<div>
    <h4>Giảng viên</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MaGv)
        </dt>
        <dd class="col-sm-10">
            @(string.IsNullOrEmpty(Model.MaGv) ? "Chưa xác định" : Model.MaGv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoTen)
        </dt>
        <dd class = "col-sm-10">
            @(string.IsNullOrEmpty(Model.HoTen) ? "Chưa xác định" : Model.HoTen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GioiTinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GioiTinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgaySinh)
        </dt>
        <dd class="col-sm-10">
            @(Model.NgaySinh.HasValue ? Model.NgaySinh.Value.ToString("dd/MM/yyyy") : "Chưa xác định")
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sdt)
        </dt>
        <dd class = "col-sm-10">
            @(string.IsNullOrEmpty(Model.Sdt) ? "Chưa xác định" : Model.Sdt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiaChi)
        </dt>
        <dd class = "col-sm-10">
            @(string.IsNullOrEmpty(Model.DiaChi) ? "Chưa xác định" : Model.DiaChi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTkNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTkNavigation.IdTk)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Trở về danh sách</a>
</div>
