@model IEnumerable<WebQuanLySinhVien.Models.GiangVien>

@{
    ViewData["Title"] = "Index";
}

<h1>Danh sách giảng viên</h1>

<p>
    <button class="btn btn-primary create-btn">Tạo mới</button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HoTen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GioiTinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgaySinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sdt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiaChi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdTkNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HoTen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GioiTinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgaySinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sdt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaChi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdTkNavigation.IdTk)
            </td>
            <td>
                <button class="btn btn-primary edit-btn" data-id="@item.MaGv">Sửa</button>
                <button class="btn btn-primary"><a asp-action="Details" asp-route-id="@item.MaGv">Chi tiết</a></button>
                <button class="btn btn-danger delete-btn" data-id="@item.MaGv">Xóa</button>
            </td>
        </tr>
}
    </tbody>
</table>

<script>
    $(document).ready(function() {
        // Xử lý sửa
        $('.edit-btn').click(function() {
            var id = $(this).data('id');
            $.get(`/GiangViens/Edit/${id}`, function(data) {
                $('#modalBody').html(data);
                $('#actionModal .modal-title').text('Sửa thông tin');
                $('#actionModal').modal('show');
            });
        });

        // Xử lý nút Create
        $('.create-btn').click(function() {
            $.get('/GiangViens/Create', function(data) {
                $('#modalBody').html(data);
                $('#actionModal .modal-title').text('Thêm mới');
                $('#actionModal').modal('show');
            });
        });

        // Xử lý xóa
        $('.delete-btn').click(function() {
            var id = $(this).data('id');
            $.get(`/GiangViens/Delete/${id}`, function(data) {
                $('#modalBody').html(data);
                $('#actionModal .modal-title').text('Xác nhận xóa');
                $('#actionModal').modal('show');
            });
        });
    });
</script>