@model WebQuanLySinhVien.Models.HoSoHocTap

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>HoSoHocTap</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaSv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaSv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrangThai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayNhapHoc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayNhapHoc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayTotNghiep)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayTotNghiep)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiemTichLuy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiemTichLuy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoTctichLuy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoTctichLuy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GhiChu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GhiChu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayCapNhat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayCapNhat)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
