@model IEnumerable<WebQuanLySinhVien.Models.Taikhoan>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenDangNhap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MatKhau)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VaiTro)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @* @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenDangNhap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MatKhau)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VaiTro)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdTk">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdTk">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdTk">Delete</a>
            </td>
        </tr>
} *@
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TenDangNhap)
                </td>
                <td>
                    <span class="password-hidden">********</span>
                    <span class="password-plain d-none">@item.MatKhau</span>
                    <button type="button" class="btn btn-link toggle-password" data-id="@item.IdTk">Hiện mật khẩu</button>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VaiTro)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdTk">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.IdTk">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdTk">Delete</a>
                </td>
            </tr>
        }

    </tbody>
</table>
